<h2 class="font-bold flex items-center mb-3">
  <svg-icon
    class="block mr-1"
    [style.stroke]="color"
    src="./assets/images/contacts-svgrepo-com.svg"
    [svgStyle] =" { 'width.rem': 2.5, 'height.rem': 2.5 } ">
  </svg-icon>
  {{ info.contacts.sectionTitle[pageLanguage] }}
</h2>
<address class="pl-5 mb-3 not-italic">
  <a
    class="flex items-center mb-0.5"
    *ngFor="let phone of info.contacts.phone"
    href="tel:{{ phone }}"
    >
    <svg-icon
      class="block mr-1"
      [style.fill]="color"
      src="./assets/images/mobile-phone-svgrepo-com.svg"
      [svgStyle] =" { 'width.rem': 1.25, 'height.rem': 1.25 } ">
    </svg-icon>
    {{ phone }}
  </a>

  <a class="flex items-center  mb-0.5"
     href="mailto:{{ info.contacts.email }}"
  >
    <svg-icon
      class="block mr-1"
      [style.stroke]="color"
      src="./assets/images/email-svgrepo-com.svg"
      [svgStyle] =" { 'width.rem': 1.25, 'height.rem': 1.25 } ">
    </svg-icon>
    {{ info.contacts.email }}
  </a>

  <a class="flex items-center mb-0.5"
     href="{{ info.contacts.telegram }}">
    <svg-icon
      class="block mr-1"
      [style.stroke]="color"
      src="./assets/images/telegram-svgrepo-com.svg"
      [svgStyle] =" { 'width.rem': 1.25, 'height.rem': 1.25 } ">
    </svg-icon>
    {{ info.contacts.telegram | slice:13}}
  </a>

  <a class="flex items-center mb-0.5"
     href="{{ info.contacts.linkedIn }}">
    <svg-icon
      class="block mr-1"
      [style.fill]="color"
      src="./assets/images/linkedin-svgrepo-com.svg"
      [svgStyle] =" { 'width.rem': 1.25, 'height.rem': 1.25 } ">
    </svg-icon>
    {{ info.contacts.linkedIn | slice:28}}</a>
  <a class="flex items-center mb-0.5"
     href="{{ info.contacts.gitHub }}">
    <svg-icon
      class="block mr-1"
      [style.stroke]="color"
      src="./assets/images/github-svgrepo-com.svg"
      [svgStyle] =" { 'width.rem': 1.25, 'height.rem': 1.25 } ">
    </svg-icon>
    {{ info.contacts.gitHub | slice:19}}</a>
</address>
