<h2
  class="font-bold  mb-3 flex items-center ">
  <svg-icon
    class="mr-2"
    [src]="src"
    [svgStyle] =" { 'width.rem': 2, 'height.rem': 2 } ">
  </svg-icon>
  {{ projectList.projects.sectionTitle[pageLanguage] }}
</h2>
<ul
  class="grid grid-cols-2 p-2 place-content-stretch gap-2 mb-3"
>
  <li
    class="py-2 px-4 border rounded overflow-hidden"
    *ngFor="let project of projectList.projects.list"
  >
    <h3 class="mb-3 font-bold text-center bg-[{{color}}]">{{ project.title}}</h3>
    <div class="flex gap-3">
      <h4 class="text-sm font-semibold">Stack:</h4>
      <ul class="flex flex-wrap mb-2 leading-3 gap-1 justify-center ">
        <li *ngFor="let technology of project.stack" class="after:content-[','] last:after:content-[''] self-center">
  <!--        <svg-icon-->
  <!--          class="block border rounded border-amber-400 p-1"-->
  <!--          src="./assets/images/{{technology | lowercase}}.svg"-->
  <!--          [svgStyle] =" { 'width.rem': 2.25, 'height.rem': 2.25 } ">-->
  <!--        </svg-icon>-->
          <small class="text-sm leading-3">{{technology}}</small>
        </li>
      </ul>
    </div>
    <!-- <iframe [src]="project.link"></iframe> -->

    <ul class="flex justify-around">
      <li>
        <a [href]="project['link']" class="w-32 h-8 flex items-center justify-center bg-white hover:bg-gray-100 text-gray-800 font-semibold py-0.5 px-4 border border-gray-400 rounded shadow">
          <svg-icon
            class="block"
            src="./assets/images/www.svg"
            [svgStyle] =" { 'width.rem': 2, 'height.rem': 1.5 } ">
          </svg-icon>
        </a>
      </li>
      <li>
        <a [href]="project['urlGit']" class="w-32 h-8 flex items-center justify-center bg-white hover:bg-gray-100 text-gray-800 font-semibold py-0.5 px-4 border border-gray-400 rounded shadow">
          <svg-icon
            class="block"
            src="./assets/images/gith.svg"
            [svgStyle] =" { 'width.rem': 3, 'height.rem': 1.5 } ">
          </svg-icon>
        </a>
      </li>
    </ul>

  </li>
</ul>
