@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import "./normalize.css";
@import "./project-card.css";
@import "./introduce-section.css";

:root {
  --size-font-xl: 20px;
  --size-font-l: 16px;
  --size-font-m: 14px;
  --size-font-s: 12px;
  --size-font-xs: 10px;

  --color-accent-primary: #00c5c5;
  --color-accent-secondary: #007272;

  --text-color-primary: #27272a;
  --text-color-secondary: #ccc;
  --text-color-accent: var(--bg-color-secondary);

  /* --color-accent-primary: #9ec500; */

  --bg-color-primary: #ececec;
  /* --bg-color-secondary: #013301; */
  --bg-color-secondary: var(--color-accent-secondary);

  --color-border-main: var(--color-accent-primary);
  --color-border-avatar: var(--color-accent-primary);
  --color-fill-svg-primary: var(--bg-color-secondary);
  --color-fill-svg-secondary: var(--color-accent-primary);

  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  --basis-main: (8 / 12);
  --basis-aside: (4 / 12);

  --wrapper-breakpoint-mobile: 600px;
  --wrapper-breakpoint-tablet: 600px;
  --wrapper-breakpoint-pc: 1024px;

  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 16px;

  --margin-s: 4px;
  --margin-m: 8px;
  --margin-l: 16px;

  --size-main-border: 24px;

  --size-icon-s: 16px;
  --size-icon-m: 24px;
  --size-icon-l: 32px;

  --gap-section-subsections: 8px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color-primary);
  font-family: Roboto, sans-serif;
  font-size: var(--size-font-l);
  line-height: 1.5;
}

address {
  font-style: normal;
}

a,
h1,
h2,
h3,
h4 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wrapper {
  max-width: var(--wrapper-breakpoint-pc);
  margin: 0 auto;
  padding: var(--padding-m);
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  flex-basis: calc((var(--basis-main)) * 100%);

  background-color: var(--color-border-main);

  border-bottom-right-radius: var(--size-main-border);
  border-top-right-radius: var(--size-main-border);
  padding: var(--size-main-border) var(--size-main-border)
    var(--size-main-border) 0;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.main__container {
  background-color: var(--bg-color-primary);

  border-bottom-right-radius: calc(var(--size-main-border) / 2);
  border-top-right-radius: calc(var(--size-main-border) / 2);
  height: 100%;
  padding: var(--padding-l) var(--padding-m);
}

.aside {
  flex-basis: calc((var(--basis-aside)) * 100%);

  color: var(--text-color-secondary);
  background-color: var(--bg-color-secondary);

  border-bottom-left-radius: var(--size-main-border);
  border-top-left-radius: var(--size-main-border);
  padding: var(--size-main-border) 0 var(--size-main-border)
    var(--size-main-border);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.aside__container {
  border-bottom-left-radius: calc(var(--size-main-border) / 2);
  border-top-left-radius: calc(var(--size-main-border) / 2);
  height: 100%;
  padding-right: var(--padding-m);
}

.icon {
  height: var(--size-icon-m);
  width: var(--size-icon-m);
  fill: var(--color-fill-svg-primary);
}

.aside .icon {
  fill: var(--color-fill-svg-secondary);
}

.avatar {
  align-self: center;
  width: 100%;
}

.main__container,
.aside__container,
.skills {
  display: flex;
  flex-direction: column;
  gap: var(--gap-section-subsections);
}

.works__list,
.educations__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: calc(var(--size-icon-m) + var(--padding-m));
}

.institution__obtention,
.company__responsibilities {
  padding-left: var(--padding-l);
}

.location__place,
.tech__skills,
.lang__skills,
.soft__skills,
.hobbies__list {
  padding: 0 calc(var(--size-icon-m) + var(--padding-m));
}

.institution__rank,
.company__position {
  font-weight: 700;
  color: var(--text-color-accent);
}
