<div class="max-w-screen-xl container mx-auto pt-5 flex flex-row-reverse">
  <main class="">
    <app-langButtons
      (langBtnValue)="onLangBtnClick($event)"
      [langList]="languages"
    ></app-langButtons>

    <app-introduce [info]="fullInfo" [pageLanguage]="pageLang"></app-introduce>

    <app-projectsGallery [projectList]="fullInfo"></app-projectsGallery>

    <app-educationList
      [info]="fullInfo"
      [pageLanguage]="pageLang"
    ></app-educationList>

    <app-workList [info]="fullInfo" [pageLanguage]="pageLang"></app-workList>
  </main>

  <aside class="max-w-sm">
    <img
      class="block w-96"
      src="https://tkachukrr.github.io/00-Resume/img/photo.jpg"
      alt="{{ fullInfo.firstName.en }} {{ fullInfo.lastName.en }}"
    />
    <app-birthday [info]="fullInfo" [pageLanguage]="pageLang"></app-birthday>
    <app-location [info]="fullInfo" [pageLanguage]="pageLang"></app-location>
  </aside>
</div>
