<div
  class="max-w-screen-lg container mx-auto my-5 flex flex-row-reverse text-xl shadow-2xl"
>
  <main class="basis-8/12 p-3 border-[24px] border-l-0 border-amber-400">

    <app-introduce
      [info]="fullInfo"
      [pageLanguage]="pageLang">
    </app-introduce>

    <app-projectsGallery
      [projectList]="fullInfo"
      [pageLanguage]="pageLang"
      svgName="projects"
    ></app-projectsGallery>

    <app-educationList
      [info]="fullInfo"
      [pageLanguage]="pageLang"
      svgName="education"
    ></app-educationList>

    <app-workList
      [info]="fullInfo"
      [pageLanguage]="pageLang"
      svgName="work">
    </app-workList>
  </main>

  <aside class="basis-4/12 p-3 bg-zinc-800 text-zinc-100">
    <img
      class="block w-64 mb-3 mx-auto pt-14"
      src="/assets/images/profile.png"
      alt="{{ fullInfo.firstName.en }} {{ fullInfo.lastName.en }}"
    />

    <app-langButtons
      (langBtnValue)="onLangBtnClick($event)"
      [langList]="languages"
    ></app-langButtons>

    <app-birthday
      class="block mb-3"
      [info]="fullInfo"
      [pageLanguage]="pageLang"
    ></app-birthday>

    <app-location
      class="block mb-3"
      [info]="fullInfo"
      [pageLanguage]="pageLang"
    ></app-location>

    <app-contacts
      [info]="fullInfo"
      [pageLanguage]="pageLang">
    </app-contacts>

    <app-skills
      [info]="fullInfo.skills.tech"
      [pageLanguage]="pageLang"
      svgName="skill-tech">
    </app-skills>

    <app-skills
      [info]="fullInfo.skills.languages"
      [pageLanguage]="pageLang"
      svgName="skill-lang">
    </app-skills>

    <app-skills
      [info]="fullInfo.skills.soft"
      [pageLanguage]="pageLang"
      svgName="skill-soft">
    </app-skills>

    <app-hobbies
      [info]="fullInfo"
      [pageLanguage]="pageLang"
      svgName="hobbies">
    </app-hobbies>
  </aside>
</div>
