<h2 class="font-bold">{{ info.educations.sectionTitle[pageLanguage] }}</h2>
<ul class="py-2 px-2 border rounded mb-2">
  <li
    *ngFor="let instit of info.educations.institutions"
    class="py-4 px-6 border rounded mb-2 last:mb-0"
  >
    <h3>{{ instit[pageLanguage].institution }}</h3>
    <p>
      {{ instit[pageLanguage].period.start | date : "dd.MM.YYYY" }} -
      {{
        (!instit[pageLanguage].period.end && now) ||
          instit[pageLanguage].period.end | date : "dd.MM.YYYY"
      }}
      |
      {{ instit[pageLanguage].rank }}
    </p>
    <p>{{ instit[pageLanguage].direction }}</p>
  </li>
</ul>
